{% extends 'cart/index.html' %}

{% block content %}

    <!-- start: breadcrumbs -->
    <section class="row breadcrumbs max-inner">
      <div class="columns col-12">
        <ul class="breadcrumb-list">
          <li><a href="/">Home</a></li>
          <li><a href="/cart">Cart</a></li>
          <li>Update</li>
        </ul>
      </div>
    </section>
    <!-- end: breadcrumbs -->

    <form class="form-example" action="update?id={{ id }}" method="post">
        <input type="text" name="quantity" placeholder="Quantity" autocomplete="off" required>
        <input type="submit" value="Save">
    </form>
    <br>

{% endblock %}

