{% extends 'manager/index.html' %}

{% block content %}

    <!-- start: breadcrumbs -->
    <section class="row breadcrumbs max-inner">
      <div class="columns col-12">
        <ul class="breadcrumb-list">
          <li><a href="/manager">Manager</a></li>
          <li>Check</li>
        </ul>
      </div>
    </section>
    <!-- end: breadcrumbs -->

    <!-- start: main content -->
    <section class="main-content">
      <div class="row max-inner">

        <div class="columns col-12">
          <table class="cart-table" cellspacing="0">
          {% if res.items %}
            <thead>
              <tr>
                <th class="product-thumbnail">&nbsp;</th>
                <th class="product-description" colspan="1">Book</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Pass</th>
                <th class="product-remove">Fail</th>
              </tr>
            </thead>
          {% else %}
              <h2 style="text-align: center">Here is empty</h2>
          {% endif %}

            <tbody>
            <!-- start: cart item -->
            {% for book in res.items %}
                <tr class="cart-item">
                  <td class="product-thumbnail"><img src="/static/{{ book.image }}"></td>
                  <td class="product-description">
                    <h3>{{ book.name}}</h3>
                    <p>
                      <strong>Author:</strong> {{ book.author }}
                    </p>
                    <p>{{ book.description }}</p>
                    <p>
                      <strong>Create:</strong> {{ book.create_time }} &nbsp;&nbsp;
                      <strong>Update:</strong> {{ book.update_time }}
                    </p>
                  </td>
                  <td class="product-price">${{ book.price }}</td>
                  <td class="product-quantity">{{ book.number }}</td>
                  <td class="product-total">
                    <a href="check/pass?id={{ book.id }}" style="color: green">√</a>
                  </td>
                  <td class="product-remove">
                    <a href="check/fail?id={{ book.id }}" style="color: red">X</a>
                  </td>
                </tr>
            {% endfor %}
            <!-- end: cart item -->
            </tbody>
          </table>
        </div>

      </div>
    </section>
    <!-- end: main content -->

    {% if res.items %}
    <!-- start: bottom pagination -->
    <section class="product-pagination">
      <div class="row max-inner">
        <div class="columns col-12">
          <ul class="paging-list">
            {% if res.has_prev %}
              <li><a href="?page={{ res.prev_num }}"><i class="fa fa-caret-left"></i></a></li>
            {% else %}
              <li><a href="#"><i class="fa fa-caret-left"></i></a></li>
            {% endif %}
            <li><a href="?page=1">First</a></li>
            <li><a href="#" class="current-prod-page">{{ res.page }}</a></li>
            <li><a href="?page={{ res.pages }}">Last</a></li>
            {% if res.has_next %}
              <li><a href="?page={{ res.next_num }}"><i class="fa fa-caret-right"></i></a></li>
            {% else %}
              <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </section>
    <!-- end: bottom pagination -->
    {% endif %}

{% endblock %}