{% extends 'book/upload.html' %}

{% block content %}

    <!-- start: breadcrumbs -->
    <section class="row breadcrumbs max-inner">
      <div class="columns col-12">
        <ul class="breadcrumb-list">
          <li><a href="/">Home</a></li>
          <li><a href="upload">Upload</a></li>
          <li>Add</li>
        </ul>
      </div>
    </section>
    <!-- end: breadcrumbs -->

    <form class="form-example" action="" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <input type="text" name="name" placeholder="Name" autocomplete="off" required>
        <input type="text" name="author" placeholder="Author" autocomplete="off" required>
        <input type="text" name="number" placeholder="Number" autocomplete="off" title="Please enter the correct quantity" oninput="value=value.replace(/[^\d]/g,'')" required>
        <input type="text" name="price" placeholder="Price" autocomplete="off" title="Please enter the correct price" oninput = "value=value.replace(/[^\d.]/g,'')" required>
        <input type="text" name="description" placeholder="Description" autocomplete="off">
        <select style="width: 280px; height: 50px" name="type">
            <option disabled>Type</option>
			<option value="Literature" title="type">Literature</option>
			<option value="Science" title="type">Science</option>
			<option value="Other" title="type">Other</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Save">
    </form>
    <br/>

{% endblock %}
